<!--
    @file monitor.launch
    @brief Visual & terminal-based monitor launch file
    @author Sébastien Darche <sebastien.darche@polymtl.ca>

    @arg headless If true, does not launch the video viewer
-->

<launch>
    <!-- Args -->
    <arg name="headless" default="false"/>

    <!-- Nodes -->
    <node name="monitor_logger" pkg="monitor" type="monitor_logger" output="screen">
    </node>


    <remap from="/monitor_video/image_in" to="/detection/image_in"/>
    <remap from="/monitor_video/detections" to="/detection/detections"/>
    <node name="monitor_video" pkg="monitor" type="monitor_video" output="screen">
    </node>

    <node if="$(eval not headless)" name="video_stream" pkg="image_view" type="image_view">
        <remap from="image" to="/monitor_video/image_out"/>
    </node>

</launch>
